body {
  background-color: white;
}
header {
  background-color: #005f99;

  color: white;

  text-align: center;

  padding: 20px;
}
/*h2 {
        color: greenyellow;
        font-family: sans-serif;
        font-weight: 200;
        font-style: italic;
      }*/
.myh2 {
  color: peru;
  font-family: "Time New Roman", Times, sans-serif;
  font-style: italic;
}
.myh2 ol {
  font-size: 2sem;
}
.div1 {
  background-color: blue;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 2em;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}
.div2 {
  background-color: white;
  width: 200px;
  height: 200px;
  color: black;
  font-size: 2em;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
}

footer {
  background-color: #005f99;

  color: white;

  text-align: center;

  padding: 20px;
}
